@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "iconFont";
  font-display: swap;
  src: url("../../fonts/font-awesome/fonts/fontawesome-webfont.eot");
  src: local("O"), url("../../fonts/font-awesome/fonts/fontawesome-webfont.woff") format("woff"), url("../../fonts/font-awesome/fonts/fontawesome-webfont.ttf") format("truetype"), url("../../fonts/font-awesome/fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins-Regular";
  font-display: swap;
  src: url("../../fonts/Poppins/Poppins-Regular.woff2");
  font-weight: 400;
  font-style: Poppins-Regular;
}
@font-face {
  font-family: "Poppins-Medium";
  font-display: swap;
  src: url("../../fonts/Poppins/Poppins-Medium.woff2");
  font-weight: 500;
  font-style: Poppins-Medium;
}
@font-face {
  font-family: "Poppins-SemiBold";
  font-display: swap;
  src: url("../../fonts/Poppins/Poppins-SemiBold.woff2");
  font-weight: 600;
  font-style: Poppins-SemiBold;
}
:root {
  --ColorH1: rgba(0, 0, 0, 1);
  --ColorH2: rgba(0, 0, 0, 1);
  --ColorH3: rgba(38, 50, 56, 1);
  --ColorP: rgba(143, 149, 165, 1);
  --ColorA: rgba(38, 50, 56, 1);
  --backgroundBody: rgba(255, 255, 255, 1);
  --backgroundGrey: rgba(245, 245, 245, 1);
  --Colorbutton-p: rgb(255, 255, 255);
  --Colorbody: rgb(255, 255, 255);
  --ColorbuttonTxt: rgba(255, 255, 255, 1);
  --Poppins-Regular: Poppins-Regular;
  --Poppins-Medium: Poppins-Medium;
  --Poppins-SemiBold: Poppins-SemiBold;
}

.body {
  font-family: Poppins-Regular;
  font-weight: 400;
  background: var(--backgroundBody);
}

.wrapper {
  padding: 51px 0 55px 0;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

h1 {
  color: var(--ColorH1);
  font-family: var(--Poppins-SemiBold);
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
}

h2 {
  color: var(--ColorH2);
  font-size: 48px;
  font-family: var(--Poppins-SemiBold);
}

h3 {
  color: var(--ColorH3);
  font-size: 30px;
  font-family: var(--Poppins-SemiBold);
}

p {
  color: var(--ColorP);
  font-weight: 400;
}

a {
  color: var(--ColorA);
  font-family: var(--Poppins-Medium);
  font-size: 20px;
  font-weight: 500;
}

button {
  color: rgb(255, 255, 255);
  font-family: var(--Poppins-Medium);
  font-size: 18px;
  font-weight: 400;
  background: rgb(38, 50, 56);
}

.nav__flex {
  display: flex;
  justify-content: space-between;
  padding: 0 6px 0 6px;
  align-items: center;
  gap: 10px;
}
.navbar__menu {
  display: flex;
  gap: 45px;
}
.nav-button {
  padding: 17px 55px;
  background: rgb(255, 255, 255);
  border: 2px solid rgb(38, 50, 56);
  border-radius: 5px;
  font-size: 24px;
  color: rgb(0, 0, 0);
}

.navbar-burger {
  display: none;
}

@media (max-width: 992px) {
  .nav-button {
    font-size: 16px;
  }
  .navbar-burger {
    display: none;
  }
}
.header__flex {
  padding: 52px 0 0 0;
  display: flex;
  justify-content: space-between;
}
.header__flex-item:nth-child(1) {
  max-width: 632px;
  padding: 50px 90px 0 5px;
}
.header__content p {
  font-size: 24px;
  line-height: 148%;
  margin-bottom: 62px;
}
.header__content button {
  font-size: 36px;
  padding: 32px 117px;
  border-radius: 15px;
}
.header__content-title {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}
.header__content-title img {
  position: absolute;
  top: 95px;
  right: 0px;
}

.skills {
  padding: 120px 0 0 0;
}
.skills__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "one two three" "one four four";
  gap: 20px;
  justify-content: space-evenly;
  align-items: stretch;
  padding: 0px 0 0 0;
}
.skills__grid-item {
  border-radius: 10px;
  background: rgb(245, 245, 245);
}
.skills__grid-content {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
}
.skills__grid-content button {
  padding: 15px 51px;
  border-radius: 5px;
}
.skills__grid-content-txt p {
  font-size: 16px;
  line-height: 25px;
}

.skills-h2 {
  text-align: center;
  margin-bottom: 110px;
}

.speaking {
  grid-area: one;
  padding: 34px 15px 90px 15px;
}
.speaking .skills__grid-pic {
  padding: 0px 0 0 9px;
  margin-bottom: 30px;
}
.speaking .skills__grid-content {
  padding: 0px 28px 0 30px;
}
.speaking .skills__grid-content p {
  line-height: 25px;
}

.writing {
  grid-area: two;
  padding: 0 30px 0px 39px;
}
.writing .skills__grid-pic {
  padding: 0px 0 0 90px;
  margin-bottom: -15px;
}
.writing .skills__grid-content {
  padding: 0 0px 0px 7px;
}

.reading {
  grid-area: three;
  padding: 0 30px 45px 39px;
}

.listening {
  grid-area: four;
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 992px) {
  a {
    color: var(--ColorA);
    font-size: 16px;
    font-weight: 500;
  }
}