@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-family: "iconFont";
  font-display: swap;
  src: url("../../fonts/font-awesome/fonts/fontawesome-webfont.eot");
  src: local("O"), url("../../fonts/font-awesome/fonts/fontawesome-webfont.woff") format("woff"), url("../../fonts/font-awesome/fonts/fontawesome-webfont.ttf") format("truetype"), url("../../fonts/font-awesome/fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../../fonts/Poppins/Poppins-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
:root {
  --ColorH1: rgb(0, 0, 0);
  --ColorH2: rgb(0, 0, 0);
  --ColorH3: rgb(38, 50, 56);
  --ColorP: rgb(143, 149, 165);
  --ColorNav: rgb(38, 50, 56);
  --Colorbutton-p: rgb(255, 255, 255);
  --Colorbody: rgb(255, 255, 255);
  --ColorbuttonTxt: rgba(255, 255, 255, 1);
}

.body {
  font-family: Poppins;
  font-weight: 400;
  background: var(--Colorbody);
}

.wrapper {
  padding: 53px 0 55px 0;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

h1 {
  color: var(--titleColorH1);
  font-size: 64px;
  font-weight: 600;
  line-height: 80px;
  letter-spacing: 1px;
}

h2 {
  color: var(--titleColorH2);
  font-size: 48px;
  font-weight: 600;
  letter-spacing: 1px;
}

h3 {
  color: var(--subTitleColorH3);
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 0%;
}

p {
  color: var(--ColorP);
  font-size: 16px;
  font-weight: 400;
}

.nav-p {
  color: var(--ColorNav);
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

button {
  border-radius: 15px;
  background: rgb(38, 50, 56);
  font-size: 36px;
  font-weight: 400;
  color: var(--ColorbuttonTxt);
}

.nav__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 55px;
  padding: 0 5px 0 7px;
}
.nav__flex-item:nth-child(1) {
  padding: 17px 0;
}
.nav__flex-item:nth-child(2) {
  padding: 17px 0;
}

.navbar__menu {
  display: flex;
  justify-content: space-between;
  width: 600px;
  padding: 0px 29px 0 45px;
}
.nav-button {
  background: var(--Colorbody);
  border: 2px solid rgb(38, 50, 56);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 15px 57px;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
}

.navbar-burger {
  display: none;
}

@media (max-width: 992px) {
  .nav__flex-item:nth-child(1) img {
    max-width: 80%;
  }
  .navbar__menu {
    padding: 0px 66px 0 119px;
  }
  .nav-p {
    font-size: 16px;
  }
  .nav-button {
    font-size: 18px;
    font-weight: 400;
    padding: 4px 39px 6px 39px;
  }
}
.header__flex {
  display: flex;
  margin-bottom: 116px;
}
.header__flex-item:nth-child(1) {
  padding: 48px 0 0 4px;
  position: relative;
}
.header__flex-item:nth-child(1) h1 {
  margin-bottom: 40px;
}
.header__flex-item:nth-child(1) img {
  position: absolute;
  top: 144px;
  right: 146px;
}
.header__flex-item:nth-child(1) p {
  line-height: 36px;
  font-size: 24px;
  max-width: 564px;
  margin-bottom: 63px;
}
.header__flex-item:nth-child(1) button {
  padding: 32px 117px;
}

.skills__grid {
  display: grid;
  grid-template-areas: "one two three" "one four four";
  row-gap: 20px;
  -moz-column-gap: 18px;
       column-gap: 18px;
  padding: 0 5px;
  margin-bottom: 255px;
}
.skills__grid-item {
  border-radius: 10px;
  background: rgb(245, 245, 245);
  border: 1px red solid;
}
.skills__grid-item button {
  border-radius: 5px;
  background: rgb(38, 50, 56);
  font-size: 20px;
  width: 218px;
  height: 60px;
  box-sizing: content-box;
}
.skills__grid-item:nth-child(1) {
  grid-area: one;
  padding: 0 0 88px 0;
  width: 435px;
  height: 894px;
  display: flex;
  flex-direction: column;
}
.skills__grid-item:nth-child(2) {
  padding: 0 0 40px 0;
  grid-area: two;
  width: 435px;
  height: 531px;
  display: flex;
  flex-direction: column;
}
.skills__grid-item:nth-child(3) {
  grid-area: three;
  width: 435px;
  height: 531px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}
.skills__grid-item:nth-child(4) {
  grid-area: four;
  display: flex;
  flex-direction: row-reverse;
  padding: 52px 10px 45px 0px;
  width: 885px;
  height: 343px;
}
.skills__grid-content h3 {
  letter-spacing: 1px;
}
.skills__grid-content p {
  line-height: 24px;
}

.skills-h2 {
  text-align: center;
  margin-bottom: 110px;
}

.speaking .skills__grid-pic {
  padding: 38px 0 0 19px;
  margin-bottom: 30px;
}
.speaking .skills__grid-content {
  flex: auto;
  padding: 0 55px 0 37px;
}
.speaking .skills__grid-content h3 {
  margin-bottom: 27px;
}
.speaking .skills__grid-content p {
  line-height: 24px;
  margin-bottom: 30px;
}
.speaking .skills__grid-content :last-child {
  margin-bottom: 0;
}
.speaking .skills__grid-button {
  padding-left: 39px;
}

.writing .skills__grid-pic {
  padding: 0 0 0 114px;
  margin-bottom: -15px;
}
.writing .skills__grid-content {
  flex: auto;
  padding: 0 0 0 36px;
}
.writing .skills__grid-content h3 {
  margin-bottom: 16px;
}
.writing .skills__grid-content-txt {
  padding: 0 30px 0 0;
}
.writing .skills__grid-button {
  margin-left: 37px;
}

.reading .skills__grid-pic {
  padding: 10px 0 0 0;
  margin-bottom: 25px;
}
.reading .skills__grid-content {
  flex: auto;
  padding: 0 40px 0 34px;
}
.reading .skills__grid-content h3 {
  margin-bottom: 12px;
}
.reading .skills__grid-button {
  padding: 0 0 0 39px;
}

.listening .skills__grid-pic {
  padding: 0 16px 0 0;
}
.listening .skills__grid-content {
  padding: 18px 89px 21px 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__flex {
  padding: 0 15px 0 6px;
  display: flex;
  margin-bottom: 205px;
}
.about__flex-item:nth-child(1) {
  padding: 45px 190px 0 0;
}
.about__content {
  flex: auto;
}
.about__content h2 {
  margin-bottom: 40px;
}
.about__content p {
  line-height: 30px;
  font-size: 20px;
  margin-bottom: 54px;
}
.about__footer {
  display: flex;
  justify-content: space-between;
  padding: 0 36px 0 0;
}
.about__footer-item {
  text-align: center;
}
.about__footer-item h2 {
  margin-bottom: 20px;
}
.about__footer-item p {
  font-size: 20px;
}
.about__footer-item:nth-child(1) {
  text-align: center;
  margin-right: 55px;
}

.pricing__flex {
  display: flex;
  margin-bottom: 258px;
}
.pricing__flex-item .pricing__flex-pic {
  margin-bottom: 50px;
}
.pricing__flex-item:nth-child(1) .pricing__flex-pic {
  margin-bottom: 50px;
  margin-left: 30px;
}
.pricing__flex-item:nth-child(1) h3 {
  margin-bottom: 30px;
}
.pricing__flex-item:nth-child(2) .pricing__flex-pic {
  padding: 27px 0 0 0;
  margin-bottom: 50px;
  margin-left: 30px;
}
.pricing__flex-item:nth-child(2) .pricing__flex-content {
  padding: 0 0 0 35px;
}
.pricing__flex-item:nth-child(2) .pricing__flex-content h3 {
  margin-bottom: 35px;
}
.pricing__flex-item:nth-child(2) .pricing__flex-content p {
  margin-bottom: 55px;
}
.pricing__flex-item:nth-child(2) .pricing__flex-button {
  margin-left: 40px;
}
.pricing__flex-item:nth-child(3) .pricing__flex-pic {
  padding: 0 0 0 54px;
  margin-bottom: 20px;
}
.pricing__flex-item:nth-child(3) .pricing__flex-content h3 {
  margin-bottom: 28px;
}
.pricing__flex-item:nth-child(3) .pricing__flex-content p {
  margin-bottom: 61px;
}
.pricing__flex-content h3 {
  letter-spacing: 0.7px;
}
.pricing__flex-content p {
  line-height: 30px;
  font-size: 20px;
  max-width: 635px;
  margin-bottom: 30px;
}
.pricing__flex-button {
  border-radius: 5px;
  background: rgb(238, 238, 238);
  display: flex;
  align-items: center;
  padding: 1px 22px 1px 8px;
  width: 240px;
  height: 45px;
}
.pricing__flex-button span {
  margin-right: 15px;
}

.pricing-h2 {
  text-align: center;
  margin-bottom: 72px;
}

.contact__flex {
  display: flex;
  flex-direction: row-reverse;
  gap: 100px;
  margin-bottom: 133px;
}
.contact__flex-item:nth-child(1) {
  padding: 46px 0 0 0;
}
.contact__flex-item:nth-child(1) h2 {
  margin-bottom: 53px;
}
.contact__flex-item:nth-child(1) p {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 53px;
}
.contact__flex-item:nth-child(1) button {
  font-size: 20px;
  width: 264px;
  height: 80px;
}
.contact__form {
  display: flex;
}
.contact__form-email {
  width: 450px;
  height: 80px;
  box-sizing: border-box;
  border: 1px solid rgb(143, 149, 165);
  border-radius: 10px;
  margin-right: 12px;
  padding: 0 0 0 31px;
}
.contact__form-email::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.contact__form-email::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.contact__line {
  background: rgb(196, 196, 196);
  width: 1338px;
  height: 1px;
  margin-bottom: 37px;
}

.footer__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__flex-item:nth-child(1) {
  padding: 0 0 0 9px;
}
.footer__flex-item:nth-child(2) {
  padding: 21px 0 0 0;
}
.footer__flex-item:nth-child(2) p {
  font-size: 24px;
  letter-spacing: 0.1px;
}

@media (max-width: 992px) {
  .wrapper {
    padding: 26px 25px 55px 26px;
  }
}