.header-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.header {
    padding-bottom: 55px;
    &__logo {
        margin-right: 10px;
    }

    &__button {
        padding: 15px 57px;
        margin-left: -8px;
    }
}
.container {
}
.logo {
}
.nav-list {
    display: flex;
    gap: 42px;
    &__item {
    }

    &__item-a {
    }
}
.header-nav-list {
    &__item {
    }

    &__item-a {
    }
}
.link-a {
}
.navButton {
}
@media (max-width: 992px) {
    .header-container {
        padding: 0 20px;
    }
    .nav-list,
    .navButton {
        display: none;
    }
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}
@media (max-width: 320px) {
}
