.skills {
    padding: 106px 0 0 0;
}
.container {
}
.skills-h2 {
    text-align: center;
    margin-bottom: 96px;
}
.skils {
    &__grid {
        display: grid;
        grid-template-areas:
            "one two three"
            "one four four";
        gap: 20px;
    }

    &__grid-item {
        border-radius: 10px;
        background: rgb(245, 245, 245);
    }
    &__grid-item:nth-child(1) {
        grid-area: one;
    }
    &__grid-item:nth-child(2) {
        grid-area: two;
    }
    &__grid-item:nth-child(3) {
        grid-area: three;
    }
    &__grid-item:nth-child(4) {
        grid-area: four;
    }

    &__flex {
    }

    &__grid-pic {
        img {
            max-width: 100%;
        }
    }

    &__grid-content {
        h3 {
        }
        p {
            line-height: 24px;
        }
    }

    &__grid-button {
        button {
            border-radius: 5px;
            color: rgb(255, 255, 255);
            background: rgb(38, 50, 56);
            font-family: Poppins;
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            padding: 15px 51px;
        }
    }
}
.speaking {
    height: 894px;
    border: 1px solid;
    .skils__grid-pic {
        padding: 33px 0 0 17px;
        margin-bottom: 6px;
    }
    .skils__grid-content {
        display: flex;
        flex-direction: column;
        p {
            flex: auto;
        }
    }
}
.writing {
}
.reading {
}
.listening {
}
