.skills {
    &__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "one two three"
            "one four four";
        row-gap: 20px;
        column-gap: 18px;
        margin-bottom: 252px;
    }

    &__grid-item {
        border-radius: 10px;
        background: rgba(245, 245, 245, 1);
        padding: 0 15px;
    }

    &__grid-pic {
    }

    &__grid-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
        p {
            line-height: 20px;
            font-size: 16px;
        }
        button {
            border-radius: 5px;
            background: rgba(38, 50, 56, 1);
            padding: 15px 51px;
        }
    }
}
.container {
}
.skills-h2 {
    text-align: center;
    margin-bottom: 111px;
}
.speaking {
    grid-area: one;
    .skills__grid-pic {
        padding: 36px 0 90px 10px;
        margin-bottom: -60px;
    }
    .skills__grid-content {
        padding: 0px 35px 0px 29px;
    }
}
.writing {
    grid-area: two;
    padding: 0px 0px 44px 0px;
    .skills__grid-pic {
        padding: 0px 0px 0 106px;
        margin-bottom: -15px;
    }
    .skills__grid-content {
        padding: 0 11px 0 42px;
    }
}
.reading {
    grid-area: three;
    padding: 0px 0px 44px 0px;
    .skills__grid-pic {
        padding: 10px 0px 0 0px;
        margin: 0 0 0 -19px;
    }
    .skills__grid-content {
        padding: 23px 15px 0 35px;
    }
}
.listening {
    grid-area: four;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 43px 26px 45px 48px;
    .skills__grid-pic {
        padding: 2px 9px 0 0px;
    }
    .skills__grid-content {
        padding: 0px 96px 0 0px;
    }
}

.about {
    &__flex {
        display: flex;
        padding: 0 0px 0 0;
        gap: 10px;
        margin-bottom: 204px;
    }

    &__flex-item:nth-child(1) {
        padding: 45px 183px 0 7px;
    }
    &__flex-item:nth-child(2) {
        padding: 0px 15px 0 0px;
    }

    &__content {
        h2 {
            margin-bottom: 42px;
        }
        p {
            font-size: 20px;
            line-height: 150%;
            margin-bottom: 53px;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        padding-right: 0px;
        .about__footer-item:nth-child(2) {
            padding: 0 0 0 51px;
        }
        .about__footer-item:nth-child(3) {
            padding: 0 34px 0 0px;
        }
    }

    &__footer-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding: 0 0 0 0;
        h2 {
            margin-bottom: 10px;
        }
        p {
            font-size: 20px;
        }
    }
}
.container {
}

.pricing {
    &__flex {
        display: flex;
    }

    &__flex-item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__flex-item:nth-child(1) {
        padding: 0 0 0 30px;
        .pricing__flex-pic {
            margin-bottom: 51px;
        }
    }
    &__flex-item:nth-child(2) {
        padding: 26px 103px 0 0;
        box-sizing: border-box;
    }
    &__flex-item:nth-child(3) {
        padding: 0 25px 0 0;
    }

    &__flex-pic {
    }

    &__flex-content {
        p {
        }
    }

    &__flex-button {
    }
}
.container {
}
.pricing-h2 {
    text-align: center;
    margin-bottom: 72px;
}
