.skills {
    &__grid {
        display: grid;
        grid-template-areas:
            "one two three"
            "one four four";
        gap: 20px;
    }

    &__grid-item {
        border-radius: 10px;
        background: rgb(245, 245, 245);
      
    }

    &__grid-pic {
        img {
            max-width: 100%;
        }
    }

    &__grid-content {
    }

    &__grid-content-txt {
        p {
            line-height: 24px;

            margin-bottom: 30px;
        }
    }

    &__grid-button {
        width: 218px;
        height: 60px;
        color: rgb(255, 255, 255);
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
        border-radius: 5px;
    }
}
.container {
}
.skills-h2 {
    text-align: center;
    margin-bottom: 108px;
}
.speaking {
    grid-area: one;
    padding: 35px 22px 92px 22px;
    .skills__grid-pic {
    }
    .skills__grid-content {
        padding: 0 23px 0 20px;
    }

    .skills__grid-content-txt {
    }
    .skills__grid-button {
    }
}
.writing {
    grid-area: two;
    padding: 0px 22px 44px 22px;
    .skills__grid-pic {
        padding: 0 0 0 122px;
    }
    .skills__grid-content {
    }
    .skills__grid-content-txt {
    }
    .skills__grid-button {
    }
}

.reading {
    grid-area: three;
    padding: 0px 22px 44px 22px;
    .skills__grid-pic {
    }
    .skills__grid-content {
    }
    .skills__grid-content-txt {
    }
    .skills__grid-button {
    }
}
.listening {
    grid-area: four;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    padding:44px 22px 68px 22px;
    .skills__grid-pic {
    }
    .skills__grid-content {
        width: 422px;
    }
    .skills__grid-content-txt {
    }
    .skills__grid-button {
    }
}
