@import "_nullstyle";
@import "_fonts";

:root {
    --ColorH1: rgb(0, 0, 0);
    --ColorH2: rgb(0, 0, 0);
    --ColorH3: rgb(38, 50, 56);
    --ColorP: rgb(143, 149, 165);
    --ColorNav: rgb(38, 50, 56);
    --Colorbutton-p: rgb(255, 255, 255);
    --Colorbody: rgb(255, 255, 255);
    --ColorbuttonTxt: rgba(255, 255, 255, 1);
}
.body {
    font-family: Poppins;
    font-weight: 400;
    background: var(--Colorbody);
}
.wrapper {
    padding: 53px 0 0 0;
}
.container {
    max-width: 1350px;
    margin: 0 auto;
}
h1 {
    color: var(--titleColorH1);
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 1px;
}
h2 {
    color: var(--titleColorH2);
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px;
}
h3 {
    color: var(--subTitleColorH3);
    font-size: 30px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 0%;
}
p {
    color: var(--ColorP);
    font-size: 16px;
    font-weight: 400;
}
.nav-p {
    color: var(--ColorNav);
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
button {
    border-radius: 15px;
    background: rgba(38, 50, 56, 1);
    font-size: 36px;
    font-weight: 400;
    line-height: 54px;
    color: var(--ColorbuttonTxt);
    
}

@import "_nav";
@import "_header";
@import "_main";
@import "_footer";

@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}
@media (max-width: 320px) {
}
