@import "_nullstyle";
@import "_fonts";

:root {
    --ColorH1: rgba(0, 0, 0, 1);
    --ColorH2: rgba(0, 0, 0, 1);
    --ColorH3: rgba(38, 50, 56, 1);
    --ColorP: rgba(143, 149, 165, 1);
    --ColorA: rgba(38, 50, 56, 1);
    --backgroundBody: rgba(255, 255, 255, 1);
    --backgroundGrey: rgba(245, 245, 245, 1);
    --Colorbutton-p: rgb(255, 255, 255);
    --Colorbody: rgb(255, 255, 255);
    --ColorbuttonTxt: rgba(255, 255, 255, 1);
}
.body {
    font-family: Poppins;
    font-weight: 400;
    background: var(--backgroundBody);
}
.wrapper {
    padding: 53px 0 55px 0;
}
.container {
    max-width: 1350px;
    margin: 0 auto;
}
h1 {
    color: var(--ColorH1);
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
    letter-spacing: 1px;
}
h2 {
    color: var(--ColorH2);
    font-size: 48px;
    font-weight: 600;
    letter-spacing: 1px;
}
h3 {
    color: var(--ColorH3);
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0%;
}
p {
    color: var(--ColorP);
    font-size: 16px;
    font-weight: 400;
}
a {
    color: var(--ColorA);
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}
button {
    color: rgba(255, 255, 255, 1);
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0%;
    background: rgba(38, 50, 56, 1);
}

@import "_nav";
@import "_header";
@import "_main";
@import "_footer";
@import "_media";

@media (max-width: 992px) {
}
@media (max-width: 767px) {
}
@media (max-width: 575px) {
}
@media (max-width: 320px) {
}
